$small-devices: "(min-width: 576px)";
$medium-devices: "(min-width: 768px)";
$large-devices: "(min-width: 992px)";
$extra-large-devices: "(min-width: 1200px)";

$header: #1F1F1F;
$background: #E3E3E3;
$font-white: #fff;
$hover: #696969;
$chat-blue:#007EF4;
$chat-black:#3C3C3C;